absl-py==0.11.0
actionlib==1.11.16
adium-theme-ubuntu==0.3.4
angles==1.9.12
arbotix-python==0.10.0
arbotix-sensors==0.10.0
argh==0.26.2
astor==0.8.1
astroid==1.6.6
attrs==20.3.0
autobahn==0.10.3
backports-abc==0.5
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
backports.weakref==1.0.post1
beautifulsoup4==4.4.1
bleach==1.5.0
bondpy==1.8.3
bzr==2.7.0
cachetools==3.1.1
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
catkin==0.7.29
catkin-pkg==0.4.23
catkin-pkg-modules==0.4.23
certifi==2020.11.8
chardet==3.0.4
configobj==5.0.6
configparser==4.0.2
contextlib2==0.6.0.post1
controller-manager==0.13.5
controller-manager-msgs==0.13.5
controller-manager-tests==0.13.5
Couchapp==1.1.0
cryptography==1.2.3
cv-bridge==1.12.8
cvxopt==1.1.4
cycler==0.10.0
Cython==0.25.2
ddynamic-reconfigure-python==0.0.1
decorator==4.4.2
defusedxml==0.4.1
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
docutils==0.12
dynamic-reconfigure==1.5.50
ecdsa==0.13
ecto==0.6.12
ecto-image-pipeline==0.5.7
ecto-opencv==0.7.2
ecto-ros==0.4.8
empy==3.3.2
entrypoints==0.3
enum34==1.1.10
filelock==3.0.12
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.15.2
futures==3.3.0
gast==0.2.2
gazebo-plugins==2.5.20
gazebo-ros==2.5.20
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.14
google-auth==1.23.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
goto-statement==1.2
grpcio==1.33.2
h5py==2.10.0
html5lib==0.9999999
http-parser==0.9.0
httplib2==0.9.1
idna==2.10
image-geometry==1.12.8
importlib-metadata==2.0.0
interactive-markers==1.11.5
ipaddress==1.0.16
ipykernel==4.10.1
ipython==5.10.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jdcal==1.0
Jinja2==2.11.2
joblib==0.9.4
joint-state-publisher==1.12.15
joint-state-publisher-gui==1.12.15
joint-trajectory-action-tools==0.0.10
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.5
jupyter-console==5.2.0
jupyter-core==4.6.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==7.3
kiwisolver==1.1.0
laser-geometry==1.6.7
launchpadlib==1.10.3
lazr.restfulclient==0.13.4
lazr.uri==1.0.3
lazy-object-proxy==1.5.2
lxml==3.5.0
lz4==0.7.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.5
mccabe==0.6.1
mercurial==3.7.3
message-filters==1.12.17
mistune==0.8.4
mock==3.0.5
moveit-commander==0.9.18
moveit-python==0.3.5
moveit-ros-planning-interface==0.9.18
moveit-ros-visualization==0.9.18
mpi4py==1.3.1
msgpack-python==0.4.6
nbconvert==5.6.1
nbformat==4.4.0
netifaces==0.10.6
nose==1.3.7
notebook==5.7.10
numexpr==2.4.3
numpy==1.16.6
oauth==1.0.1
oauthlib==3.1.0
object-recognition-capture==0.3.2
object-recognition-core==0.6.7
object-recognition-ros==0.3.7
object-recognition-tod==0.5.6
object-recognition-transparent-objects==0.4.3
openni2-launch==1.5.1
openpyxl==2.3.0
openravepy==0.9.0
opt-einsum==2.3.2
PAM==0.4.2
pandas==0.17.1
pandocfilters==1.4.3
paramiko==1.16.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.4.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.2
pluginlib==1.11.3
prometheus-client==0.9.0
prompt-toolkit==1.0.18
protobuf==3.14.0
psutil==3.4.2
ptyprocess==0.6.0
py==1.4.31
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAssimp==3.0.1264
pycrypto==2.6.1
pycurl==7.43.0
pydot==1.0.29
Pygments==2.5.2
pygobject==3.20.0
pygpgme==0.3
pylint==1.9.5
pymodbus==1.3.0
PyMySQL==0.7.2
PyOpenGL==3.0.2
pyOpenSSL==0.15.1
pyparsing==2.0.3
pyquaternion==0.9.9
pyrsistent==0.16.1
pyserial==3.0.1
Pyste==0.9.10
pytest==2.8.7
python-dateutil==2.4.2
python-pcl==0.3.0rc1
python-qt-binding==0.3.7
python-snappy==0.5
pytz==2014.10
pyusb==1.0.0a2
PyYAML==3.11
pyzmq==19.0.2
qt-dotgraph==0.3.17
qt-gui==0.3.17
qt-gui-cpp==0.3.17
qt-gui-py-common==0.3.17
qtconsole==4.7.7
QtPy==1.9.0
requests==2.25.0
requests-oauthlib==1.3.0
resource-retriever==1.12.6
restkit==4.2.2
roman==2.0.0
rosapi==0.11.13
rosbag==1.12.17
rosboost-cfg==1.14.6
rosbridge-library==0.11.13
rosbridge-server==0.11.13
rosclean==1.14.6
roscreate==1.14.6
rosdep==0.20.0
rosdep-modules==0.20.0
rosdistro==0.8.3
rosdistro-modules==0.8.3
rosgraph==1.12.17
roslaunch==1.12.17
roslib==1.14.6
roslint==0.11.0
roslz4==1.12.17
rosmake==1.14.6
rosmaster==1.12.17
rosmsg==1.12.17
rosnode==1.12.17
rosparam==1.12.17
rospkg==1.2.10
rospkg-modules==1.2.10
rospy==1.12.17
rosservice==1.12.17
rostest==1.12.17
rostopic==1.12.17
rosunit==1.14.6
roswtf==1.12.17
rqt-action==0.4.9
rqt-bag==0.5.0
rqt-bag-plugins==0.5.0
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.16
rqt-joint-trajectory-controller==0.13.6
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.5.3
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.10
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rsa==4.5
rviz==1.12.17
scandir==1.10.0
scikit-learn==0.20.4
scipy==1.2.2
SecretStorage==2.1.3
Send2Trash==1.5.0
sensor-msgs==1.12.7
service-identity==16.0.0
simplegeneric==0.8.1
simplejson==3.8.1
singledispatch==3.4.0.3
six==1.15.0
slim==0.1
smach==2.0.1
smach-ros==2.0.1
smach-viewer==2.0.2
smclib==1.8.3
socketio==0.2.1
socketpool==0.5.3
srdfdom==0.4.2
statsmodels==0.6.1
subprocess32==3.5.4
sympy==0.7.1
tables==3.2.2
tensorboard==2.1.0
tensorflow @ https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.4.0-cp27-none-linux_x86_64.whl
tensorflow-estimator==2.1.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf==1.11.9
tf-conversions==1.11.9
tf-slim==1.1.0
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
topic-tools==1.12.17
tornado==5.1.1
traitlets==4.3.3
trollius==2.0.1
Twisted==16.0.0
txaio==1.0.0
unity-lens-photos==1.0
ur-driver==1.2.7
ur-kinematics==1.2.7
urdfdom-py==0.3.3
urllib3==1.26.2
vcstools==0.1.42
wadllib==1.3.2
watchdog==0.8.3
wcwidth==0.2.5
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wstool==0.1.17
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xacro==1.11.3
xdot==0.6
xlrd==0.9.4
xlwt==0.7.5
zipp==1.2.0
zope.interface==4.1.3
